* {
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
}
a,
a:hover,
a:active,
a:visited {
    color: #08c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    margin: 0 -15px 1rem;
}
.col {
    padding: 0 15px;
}

.btn,
.btn:active,
.btn:visited,
.btn:hover,
.btn:focus {
    padding: .5rem .75rem;
    background: #f0f0f0;
    border: 1px solid #bbb;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.btn:hover {
    background: #fff;
}
.btn:active,
.btn:focus {
    background: #eee;
}
.btn.primary {
    border: 1px solid #08c;
    background-color: #09c;
    color: #fff;
}
.btn.primary:hover {
    background-color: #09f;
}
.btn.primary:active,
.btn.primary:focus {
    background-color: #08c;
}

.panel {
    margin-bottom: 1rem;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
}

.actions {
    text-align: right;
    margin-bottom: .35rem;
    font-size: 80%;
}
.actions a {
    padding: .15rem .25rem;
    background: #fff;
    border-radius: 3px;
    margin-left: 3px;
}

.delete {
    color: #e2517a !important;
}

.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    display: block;
    margin-bottom: .25rem;
}
input,
select,
textarea {
    min-width: auto;
    width: 100%;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 3px;
    font-size: 1rem;
    padding: .5rem;
}
.msg.msg-error {
    color: #e2517a;
}
.msg.msg-success {
    color: #249957;
}

ul.pagination li {
    padding: .5em;
}